//  Global
@import './global/__colors';
@import './global/__fonts';

*:focus {
    outline: none;
    box-shadow: 0 0 0 0.05rem $main-color;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Arial';

    color: $dark-color;
}

body {
    margin: 0;
}

input,
button {
    font-family: inherit;
}

button {
    cursor: pointer;
}

.button {
    padding: 1.5rem 2rem;
    display: block;

    font-size: 1rem;

    text-align: center;
    text-decoration: none;

    color: $main-color;
    background-color: $contrast-color;

    border-radius: 0.5rem;

    &::after {
        content: '→';

        display: inline-block;

        vertical-align: baseline;

        transition: all 0.1s;
        transform: translateY(-0.1rem);
    }
}

//  Components
@import './components/header/__header';
@import './components/__footer';

@import './components/__banner';
@import './components/__news';
@import './components/__promo';

//  Tablet
@media (min-width: 768px) {
    @import './adaptive/tablet/__news';
}

//  Desktop
@media (min-width: 992px) {
    .button {
        border: 0.05rem solid $contrast-color;

        display: inline-block;

        transition: all 0.1s;

        &:hover,
        &:focus {
            color: $contrast-color;
            background-color: transparent;

            &::after {
                transform: translate(0.25rem, -0.1rem);
            }
        }
    }

    @import './adaptive/desktop/__header';
    @import './adaptive/desktop/__footer';

    @import './adaptive/desktop/__banner';
    @import './adaptive/desktop/__news';
    @import './adaptive/desktop/__promo';
}

@media (min-width: 1180px) {
    .navigation {
        &__link {
            margin: 0;

            font-size: 1rem;
        }
    }
}
