.banner {
    position: relative;
    overflow: hidden;

    &__list {
        // max-height: calc(100vh - 4.5rem);
        margin: 0;
        padding: 0;

        position: relative;
        z-index: 0;

        list-style-type: none;

        transition: all 0.1s;
    }

    &__item {
        min-width: 100%;
        max-width: 100%;

        position: relative;

        transition: all 0.3s;
    }

    &__image {
        width: 100%;
        height: 100%;

        object-fit: contain;

        display: block;
    }

    &__nav {
        width: 1.5rem;
        height: 2.5rem;
        border-width: 0;

        position: absolute;
        top: 50%;

        transform: translateY(-50%);

        background-color: transparent;

        &--left {
            left: 1.5rem;

            &::before {
                transform: translateY(-0.38rem) rotateZ(45deg);
            }

            &::after {
                transform: translateY(0.38rem) rotateZ(-45deg);
            }
        }

        &--right {
            right: 1.5rem;

            &::before {
                transform: translateY(-0.38rem) rotateZ(-45deg);
            }

            &::after {
                transform: translateY(0.38rem) rotateZ(45deg);
            }
        }

        &::before,
        &::after {
            content: '';

            width: 0.25rem;
            height: 2rem;

            position: absolute;

            background-color: $contrast-color;

            border-radius: 0.25rem;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }
    }
}
