.news {
    max-width: 100%;
    margin: 1.5rem 0;
    padding: 0 1.5rem;

    &__header {
        margin: 0 0 0.75rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        gap: 1rem;
    }

    &__title {
        margin: 0;

        font-weight: 900;
    }

    &__dots {
        margin: 0;
        padding: 0;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;

        list-style-type: none;
    }

    &__list {
        margin: 0 0 1rem;
        padding: 0;

        transition: all 0.3s;

        list-style-type: none;
    }
}

.article {
    width: 100%;

    border: 0.125rem solid $contrast-color;

    display: flex;
    flex-direction: column;

    border-radius: 0.5rem;

    background-color: $light-color;

    &__picture {
        width: 100%;
        height: 10rem;

        object-fit: cover;
    }

    &__content {
        padding: 1rem 0.75rem;
    }

    &__date {
        margin-bottom: 0.5rem;
        display: block;

        font-weight: 600;
    }

    &__paragraph {
        margin: 0;
    }

    &__more {
        color: $contrast-color;
    }
}

.dots {
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__button {
        width: 1rem;
        height: 1rem;
        padding: 0;

        position: relative;

        border-color: $contrast-color;
        border-style: solid;
        border-radius: 50%;

        font-size: 0.01rem;

        background-color: transparent;

        &::before {
            content: '';

            width: 0rem;
            height: 0rem;

            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);

            background-color: $contrast-color;

            border-radius: 50%;

            transition: all 0.1s;
        }

        &::after {
            content: '';

            width: 0.25rem;
            height: 0.25rem;

            position: absolute;
            top: 25%;
            left: 75%;

            transform: translate(-75%, -25%);

            background-color: $light-color;

            border-radius: 50%;

            transition: all 0.1s;
        }

        &--current {
            &::before {
                width: 0.5rem;
                height: 0.5rem;
            }
        }
    }
}
