@charset "UTF-8";
@font-face {
  font-family: "Arial";
  src: url("../../fonts/Arial/Arial.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: url("../../fonts/Arial/Arial-Italic.ttf") format("ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Arial";
  src: url("../../fonts/Arial/Arial-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: url("../../fonts/Arial/Arial-BoldItalic.ttf") format("ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Arial";
  src: url("../../fonts/Arial/Arial-Black.ttf") format("ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: url("../../fonts/Arial/Arial-BlackItalic.ttf") format("ttf");
  font-weight: 900;
  font-style: italic;
}
*:focus {
  outline: none;
  box-shadow: 0 0 0 0.05rem #f0e0bf;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Arial";
  color: #444444;
}

body {
  margin: 0;
}

input,
button {
  font-family: inherit;
}

button {
  cursor: pointer;
}

.button {
  padding: 1.5rem 2rem;
  display: block;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: #f0e0bf;
  background-color: #700918;
  border-radius: 0.5rem;
}
.button::after {
  content: "→";
  display: inline-block;
  vertical-align: baseline;
  transition: all 0.1s;
  transform: translateY(-0.1rem);
}

.burger {
  height: 1.5rem;
  width: 2rem;
  padding: 0;
  border-width: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.burger__line {
  width: 100%;
  height: 0.25rem;
  border-radius: 0.5rem;
  background-color: #700918;
  transition: all 0.3s;
}
.burger__line:first-child, .burger__line:last-child {
  position: absolute;
  transform: translateY(0%) rotateZ(0deg);
}
.burger__line:first-child {
  top: 0%;
}
.burger__line:last-child {
  bottom: 0%;
}
.burger--open .burger__line:first-child {
  animation: burgerTopLine 0.3s;
}
.burger--open .burger__line:last-child {
  animation: burgerBottomLine 0.3s;
}
.burger--close .burger__line {
  width: 0;
}
.burger--close .burger__line:first-child, .burger--close .burger__line:last-child {
  width: 100%;
  top: 50%;
  bottom: 50%;
}
.burger--close .burger__line:first-child {
  transform: translateY(-50%) rotateZ(45deg);
  animation: burgerBottomLine 0.3s reverse;
}
.burger--close .burger__line:last-child {
  transform: translateY(-50%) rotateZ(-45deg);
  animation: burgerTopLine 0.3s reverse;
}

.navigation {
  padding: 1.5rem 1.5rem 1.5rem;
  position: fixed;
  top: -100%;
  right: 0;
  bottom: 100%;
  left: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  overflow: auto;
  transition: all 0.3s;
}
.navigation--active {
  top: 4.5rem;
  bottom: 0%;
}
.navigation__list {
  max-width: 15rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navigation__item {
  margin-top: 0.75rem;
  border-top: 0.05125rem solid #f0e0bf;
  padding: 0.75rem 0 0;
}
.navigation__item:last-child {
  padding-bottom: 0.75rem;
  border-bottom: 0.05125rem solid #f0e0bf;
}
.navigation__block {
  margin: 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.navigation__link {
  max-width: calc(100% - 0.75rem);
  line-height: 1.5;
  color: inherit;
}
.navigation__button {
  min-width: 0.75rem;
  height: 100%;
  margin-left: 0.25rem;
  padding: 0;
  border-width: 0;
  display: flex;
  background-color: transparent;
}
.navigation__arrow {
  width: 0.75rem;
  transition: all 0.1s;
}
.navigation__arrow--close {
  transform: rotateX(180deg);
}
.navigation__subnavigation {
  margin: 0;
  padding: 0 0 0 1rem;
  list-style-type: none;
  height: 0;
  overflow: hidden;
  transition: all 0.3s;
  visibility: hidden;
}
.navigation__subnavigation--showing {
  height: auto;
  overflow: inherit;
  visibility: inherit;
}
@keyframes burgerTopLine {
  0% {
    top: 50%;
    transform: translateY(-50%) rotateZ(45deg);
  }
  50% {
    top: 50%;
    transform: translateY(-50%) rotateZ(0deg);
  }
  100% {
    top: 0%;
    transform: translateY(0%) rotateZ(0deg);
  }
}
@keyframes burgerBottomLine {
  0% {
    bottom: 50%;
    transform: translateY(-50%) rotateZ(-45deg);
  }
  50% {
    bottom: 50%;
    transform: translateY(-50%) rotateZ(0deg);
  }
  100% {
    bottom: 0%;
    transform: translateY(0%) rotateZ(0deg);
  }
}
.socials {
  width: 100%;
  padding: 0;
  margin: auto 0 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style-type: none;
}
.socials__icon {
  height: 2rem;
}
.socials__icon--light {
  fill: #f0e0bf;
}
.socials__icon--dark {
  fill: #444444;
}
.socials__icon--contrast {
  fill: #700918;
}

.header {
  padding-top: 4.5rem;
  position: relative;
  z-index: 1;
}
.header__top {
  padding: 1rem 1.5rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: #f0e0bf;
  border-radius: 0 0 0.5rem 0.5rem;
}
.header__logo, .navigation__logo {
  height: 3rem;
}
.header__navigation {
  background-color: #700918;
  color: #ffffff;
}
.header__socials {
  display: none;
}

.footer__main {
  padding: 0.75rem 1.5rem;
  max-width: 100%;
  background-color: #f0e0bf;
}
.footer__left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__logo {
  height: 3rem;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left;
     object-position: left;
}
.footer__heading {
  margin: 0 0 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}
.footer__contacts {
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style-type: none;
}
.footer__contact, .footer__link {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.footer__link {
  font-weight: 600;
  color: inherit;
}
.footer__icon {
  width: 1rem;
}
.footer__partners {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style-type: none;
}
.footer__nav {
  display: none;
}
.footer__copyright {
  padding: 0.75rem 1.5rem;
  text-align: center;
  color: #f0e0bf;
  background-color: #700918;
}

.partner {
  max-width: -moz-min-content;
  max-width: min-content;
  min-width: calc((100% - 4rem) / 5);
  text-align: center;
  font-size: 0.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}
.partner__picture {
  width: 4rem;
  height: 4rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.copyright__value {
  margin: 0;
}

.banner {
  position: relative;
  overflow: hidden;
}
.banner__list {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
  list-style-type: none;
  transition: all 0.1s;
}
.banner__item {
  min-width: 100%;
  max-width: 100%;
  position: relative;
  transition: all 0.3s;
}
.banner__image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}
.banner__nav {
  width: 1.5rem;
  height: 2.5rem;
  border-width: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
}
.banner__nav--left {
  left: 1.5rem;
}
.banner__nav--left::before {
  transform: translateY(-0.38rem) rotateZ(45deg);
}
.banner__nav--left::after {
  transform: translateY(0.38rem) rotateZ(-45deg);
}
.banner__nav--right {
  right: 1.5rem;
}
.banner__nav--right::before {
  transform: translateY(-0.38rem) rotateZ(-45deg);
}
.banner__nav--right::after {
  transform: translateY(0.38rem) rotateZ(45deg);
}
.banner__nav::before, .banner__nav::after {
  content: "";
  width: 0.25rem;
  height: 2rem;
  position: absolute;
  background-color: #700918;
  border-radius: 0.25rem;
}
.banner__nav::before {
  top: 0;
}
.banner__nav::after {
  bottom: 0;
}

.news {
  max-width: 100%;
  margin: 1.5rem 0;
  padding: 0 1.5rem;
}
.news__header {
  margin: 0 0 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.news__title {
  margin: 0;
  font-weight: 900;
}
.news__dots {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  list-style-type: none;
}
.news__list {
  margin: 0 0 1rem;
  padding: 0;
  transition: all 0.3s;
  list-style-type: none;
}

.article {
  width: 100%;
  border: 0.125rem solid #700918;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: #ffffff;
}
.article__picture {
  width: 100%;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.article__content {
  padding: 1rem 0.75rem;
}
.article__date {
  margin-bottom: 0.5rem;
  display: block;
  font-weight: 600;
}
.article__paragraph {
  margin: 0;
}
.article__more {
  color: #700918;
}

.dots__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dots__button {
  width: 1rem;
  height: 1rem;
  padding: 0;
  position: relative;
  border-color: #700918;
  border-style: solid;
  border-radius: 50%;
  font-size: 0.01rem;
  background-color: transparent;
}
.dots__button::before {
  content: "";
  width: 0rem;
  height: 0rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #700918;
  border-radius: 50%;
  transition: all 0.1s;
}
.dots__button::after {
  content: "";
  width: 0.25rem;
  height: 0.25rem;
  position: absolute;
  top: 25%;
  left: 75%;
  transform: translate(-75%, -25%);
  background-color: #ffffff;
  border-radius: 50%;
  transition: all 0.1s;
}
.dots__button--current::before {
  width: 0.5rem;
  height: 0.5rem;
}

.promo {
  margin: 1.5rem 0;
  padding: 0 1.5rem;
}
.promo__frame {
  width: 100%;
  height: 50vw;
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .news__dots {
    display: none;
  }
  .news__list {
    height: auto !important;
    display: grid;
    grid-template-areas: "a b" "c d";
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .news__article {
    position: static !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .news__article .article__cover {
    width: 100%;
    height: 100%;
  }
  .news__article .article__picture {
    height: 8rem;
    min-height: 100%;
    transition: all 0.2s;
  }
  .news__article .article__link {
    overflow: hidden;
  }
}
@media (min-width: 992px) {
  .button {
    border: 0.05rem solid #700918;
    display: inline-block;
    transition: all 0.1s;
  }
  .button:hover, .button:focus {
    color: #700918;
    background-color: transparent;
  }
  .button:hover::after, .button:focus::after {
    transform: translate(0.25rem, -0.1rem);
  }
  body {
    padding-top: 8.5rem;
  }
  .header {
    padding: 0;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 0 0 1rem 1rem;
    background-color: #f0e0bf;
  }
  .header__top {
    padding: 0.75rem 2rem;
    margin: auto;
    width: 1244px;
    max-width: 100%;
    position: relative;
    border-radius: 0;
  }
  .header__logo, .navigation__logo {
    height: 4.5rem;
  }
  .header__burger {
    display: none;
  }
  .header__socials {
    display: flex;
  }
  .socials {
    margin: 0;
    width: auto;
  }
  .socials__icon {
    transition: all 0.1s;
  }
  .socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
    fill: #444444;
  }
  .navigation {
    padding: 0;
    position: relative;
    display: block;
    border-radius: 0 0 0.5rem 0.5rem;
    overflow: inherit;
  }
  .navigation__logo, .navigation__socials {
    display: none;
  }
  .navigation__button {
    position: absolute;
    right: 0;
    align-items: center;
    pointer-events: none;
  }
  .navigation__button:focus .navigation__arrow {
    fill: #f0e0bf;
  }
  .navigation__list {
    margin: auto;
    padding: 0 2rem;
    width: 1244px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  .navigation__item, .navigation__item:last-child {
    margin: 0;
    padding: 0;
    border-width: 0;
    position: relative;
    z-index: 0;
  }
  .navigation__link {
    margin: 0.1rem 0;
    padding: 0.75rem 0;
    max-width: inherit;
    width: 100%;
    display: inline-block;
    font-size: 0.8rem;
  }
  .navigation__link:hover, .navigation__link:focus {
    color: #f0e0bf;
  }
  .navigation__link:hover + .navigation__button .navigation__arrow, .navigation__link:focus + .navigation__button .navigation__arrow {
    fill: #f0e0bf;
  }
  .navigation__block .navigation__link {
    padding-right: 1rem;
  }
  .navigation__subnavigation {
    padding: 0;
    min-width: -moz-max-content;
    min-width: max-content;
    height: auto;
    border-bottom: 0.05rem solid #f0e0bf;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #700918;
    opacity: 0;
    overflow: inherit;
  }
  .navigation__subnavigation--showing, .navigation__subnavigation:hover {
    opacity: 1;
    visibility: inherit;
  }
  .navigation__subnavigation .navigation__subnavigation {
    top: 0;
    left: 100%;
  }
  .navigation__subnavigation .navigation__link {
    max-width: 20rem;
    padding: 0.5rem 1rem;
    border-top: 0.05rem solid #f0e0bf;
    display: block;
  }
  .navigation__subnavigation .navigation__item:has(.navigation__subnavigation) .navigation__link {
    padding-right: 2rem;
  }
  .navigation__subnavigation .navigation__button {
    padding: 0 0.5rem;
  }
  .navigation__item:hover > .navigation__subnavigation {
    opacity: 1;
    visibility: inherit;
  }
  .navigation__item:hover > .navigation__block > .navigation__button > .navigation__arrow {
    transform: rotate(-180deg);
  }
  .footer {
    margin-top: 8rem;
    background-color: #f0e0bf;
  }
  .footer__main {
    margin: auto;
    padding: 1.5rem 2rem;
    width: 1244px;
    display: flex;
    gap: 2rem;
    font-size: 0.75rem;
  }
  .footer__left {
    min-width: -moz-max-content;
    min-width: max-content;
    gap: 2rem;
  }
  .footer__block {
    justify-content: flex-start;
  }
  .footer__logo {
    height: 4.5rem;
  }
  .footer__heading {
    text-align: left;
  }
  .footer__contacts {
    margin: 0;
  }
  .footer__socials {
    margin-right: auto;
  }
  .footer__nav {
    width: 25%;
    display: block;
  }
  .footer__navigation {
    padding: 0;
    width: auto;
    flex-direction: column;
    gap: 0.5rem;
  }
  .footer__navigation .navigation__link {
    padding: 0;
    display: inline;
    font-size: 0.75rem;
  }
  .footer__navigation .navigation__link:hover {
    color: #700918;
  }
  .footer__partners {
    gap: 0.75rem;
  }
  .footer__link:hover {
    color: #700918;
  }
  .footer__link:hover .footer__icon {
    fill: #700918;
  }
  .footer__icon {
    transition: all 0.1s;
  }
  .news {
    margin: 4rem auto;
    padding: 0 2rem;
    width: 1244px;
  }
  .news__header {
    margin: 0;
  }
  .news__title {
    margin: 0 0 1.5rem;
    font-size: 4rem;
    line-height: 4rem;
  }
  .news__list {
    height: auto !important;
    display: grid;
    grid-template-areas: "a b b" "a c d";
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  .news__article {
    position: static !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .news__article .article__cover {
    display: block;
    overflow: hidden;
  }
  .news__article:nth-child(1) {
    grid-area: a;
  }
  .news__article:nth-child(1) .article__picture {
    height: 24.5rem;
  }
  .news__article:nth-child(1) .article__cover {
    border-radius: 0.35rem 0.35rem 0 0;
  }
  .news__article:nth-child(2) {
    grid-area: b;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .news__article:nth-child(2) .article__picture {
    height: 15rem;
  }
  .news__article:nth-child(2) .article__cover {
    border-radius: 0.35rem 0 0 0.35rem;
  }
  .news__article:nth-child(3) {
    grid-area: c;
  }
  .news__article:nth-child(3) .article__picture {
    height: 8rem;
  }
  .news__article:nth-child(3) .article__cover {
    border-radius: 0.35rem 0.35rem 0 0;
  }
  .news__article:nth-child(4) {
    grid-area: d;
  }
  .news__article:nth-child(4) .article__picture {
    height: 8rem;
  }
  .news__article:nth-child(4) .article__cover {
    border-radius: 0.35rem 0.35rem 0 0;
  }
  .news__article .article__cover {
    width: 100%;
    height: 100%;
  }
  .news__article .article__picture {
    min-height: 100%;
    transition: all 0.2s;
  }
  .news__article .article__link {
    overflow: hidden;
  }
  .news__article .article__link:hover .article__picture {
    transform: scale(110%);
  }
  .news__article .article__more {
    transition: all 0.1s;
  }
  .news__article .article__more:hover {
    color: #f0e0bf;
  }
  .promo {
    margin: 4rem auto;
    padding: 0 2rem;
    max-width: 1244px;
  }
  .promo__frame {
    height: 35vw;
  }
}
@media (min-width: 1180px) {
  .navigation__link {
    margin: 0;
    font-size: 1rem;
  }
}/*# sourceMappingURL=main.css.map */