.footer {
    margin-top: 8rem;
    background-color: $main-color;

    &__main {
        margin: auto;
        padding: 1.5rem 2rem;
        width: 1244px;
        display: flex;
        gap: 2rem;

        font-size: 0.75rem;
    }

    &__left {
        min-width: max-content;

        gap: 2rem;
    }

    &__block {
        justify-content: flex-start;
    }

    &__logo {
        height: 4.5rem;
    }

    &__heading {
        text-align: left;
    }

    &__contacts {
        margin: 0;
    }

    &__socials {
        margin-right: auto;
    }

    &__nav {
        width: 25%;

        display: block;
    }

    &__navigation {
        padding: 0;
        width: auto;

        flex-direction: column;
        gap: 0.5rem;

        .navigation__link {
            padding: 0;

            display: inline;

            font-size: 0.75rem;

            &:hover {
                color: $contrast-color;
            }
        }
    }

    &__partners {
        gap: 0.75rem;
    }

    &__link {
        &:hover {
            color: $contrast-color;

            .footer__icon {
                fill: $contrast-color;
            }
        }
    }

    &__icon {
        transition: all 0.1s;
    }
}
