.news {
    margin: 4rem auto;
    padding: 0 2rem;
    width: 1244px;

    &__header {
        margin: 0;
    }

    &__title {
        margin: 0 0 1.5rem;

        font-size: 4rem;
        line-height: 4rem;
    }

    &__list {
        height: auto !important;

        display: grid;
        grid-template-areas: 'a b b' 'a c d';
        grid-template-columns: 1fr 1fr 1fr;

        gap: 1rem;
    }

    &__article {
        position: static !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .article {
            &__cover {
                display: block;

                overflow: hidden;
            }
        }

        &:nth-child(1) {
            grid-area: a;

            .article {
                &__picture {
                    height: 24.5rem;
                }

                &__cover {
                    border-radius: 0.35rem 0.35rem 0 0;
                }
            }
        }

        &:nth-child(2) {
            grid-area: b;
            display: grid;
            grid-template-columns: 1fr 1fr;

            .article {
                &__picture {
                    height: 15rem;
                }

                &__cover {
                    border-radius: 0.35rem 0 0 0.35rem;
                }
            }
        }

        &:nth-child(3) {
            grid-area: c;

            .article {
                &__picture {
                    height: 8rem;
                }

                &__cover {
                    border-radius: 0.35rem 0.35rem 0 0;
                }
            }
        }

        &:nth-child(4) {
            grid-area: d;

            .article {
                &__picture {
                    height: 8rem;
                }

                &__cover {
                    border-radius: 0.35rem 0.35rem 0 0;
                }
            }
        }

        .article {
            &__cover {
                width: 100%;
                height: 100%;
            }

            &__picture {
                min-height: 100%;

                transition: all 0.2s;
            }

            &__link {
                overflow: hidden;
            }

            &__link:hover .article__picture {
                transform: scale(110%);
            }

            &__more {
                transition: all 0.1s;

                &:hover {
                    color: $main-color;
                }
            }
        }
    }
}
